<h3>Listado de Héroes</h3>

<!-- En el else podemos tener una referencia local a un template -->
<div *ngIf="deletedHero; else nothingWasDeleted">
  <h4>Héroe borrado <small class="text-danger"> {{ deletedHero }} </small></h4>
</div>

<!-- el ng-template es un div que no existe, es como un fragment en ReactJS, por defecto no se muestra -->
<!-- #[nombre] es una referencia local -->
<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada...</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0 "
  class="btn btn-outline-danger"
  (click)="removeLastHero()">
  Borrar último héroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
      class="list-group-item">
      {{ name }}
  </li>
</ul>
